* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background: #f5f8ff;
}
/* Section  */
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section_2 {
  padding-top: 150px;
  padding-bottom: 50px;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
.logo {
  max-width: 135px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.nav-items ul {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-items ul li {
  margin: 0 15px;
}
.nav-items ul li a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 500;
}
.nav-items .active a {
  color: #000;
}
.pricing {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Banner Section  */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
}
.banner h1 {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 14px;
}
.banner-text {
  max-width: 35%;
}
.banner h1 span {
  color: #e95a08;
}
.banner-text p {
  font-size: 22px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}

/* ********************* Our Plants Section ********************* */
.plants_items .plants_items_text {
  text-align: center;
  max-width: 56%;
  margin-left: auto;
  margin-right: auto;
}
.plants_items .plants_items_text h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}
.plants_items .plants_items_text h2 span {
  color: #e95a08;
}
.plants_items .plants_items_text p {
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.plants_items .plants_items_cards .card h3 {
  font-size: 22px;
  line-height: 1.2;
  color: #111111;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.plants_items .plants_items_cards .card p {
  font-size: 22px;
  line-height: 1.2;
  color: #111111;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}
button {
  background: #e95a08;
  width: 270px;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  transition: background-color 0.3s ease;
  text-align: center;
  cursor: pointer;
}
.card {
  max-width: 360px;
  margin: 0 auto;
}
.card img {
  margin-bottom: 30px;
}
.plants_items_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}

/* <!-- ********************Flower & Plants Lover Section******************** --> */
.flowr_plant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.images_010 {
  position: relative;
}

.image_badge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.image_badge img {
  width: 286px;
}
.image_badge {
  position: absolute;
  top: -20%;
  right: -23%;
}
.flowr_plant_text ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flowr_plant_text h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
  max-width: 61%;
}
.flowr_plant_text li {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}
.flowr_plant_text {
  max-width: 45%;
  margin-left: auto;
}
/* <!-- ********************Flower & Plants Lover Section******************** --> */

/* <!-- ********************Latest  Deals******************** --> */
.letest_deals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.deals_both {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.deals_01 {
  background-image: url("../images/deal-bloom.png");
  width: 366px;
  text-align: center;
  border-radius: 14px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.deals_01::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004f;
}
.deals_01 h2,
p {
  position: relative;
  z-index: 1;
}
.deals_both .deals_01 h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.deals_both .deals_01 p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-decoration-line: underline;
}
.deals_02 {
  background-image: url("../images/deal-ana.png");
  width: 366px;
  text-align: center;
  border-radius: 14px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.deals_02::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004f;
}
.deals_02 h2,
p {
  position: relative;
  z-index: 1;
}
.deals_both .deals_02 h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.deals_both .deals_02 p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-decoration-line: underline;
}

.deals_03 {
  background-image: url("../images/deal-zabo.png");
  width: 753px;
  text-align: center;
  border-radius: 14px;
  height: 424px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.deals_03::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004f;
}
.deals_03 h2,
p {
  position: relative;
  z-index: 1;
}
.deals_both .deals_03 h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}
.deals_both .deals_03 p {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  text-decoration-line: underline;
}
.letest_dealsitems_text {
  text-align: center;
  max-width: 56%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
.letest_dealsitems_text h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}
.letest_dealsitems_text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
}
/* <!-- ********************Latest  Deals******************** --> */

.join_us {
  /* background-image: url("../images/news-letter-bg.png"); */
  width: 100%;
  /* background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  border-radius: 14px;
  height: 553px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.join_us h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}

form {
  display: flex;
}
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px;
  gap: 10px;
  width: 644px;
  height: 50px;
}

/* Footer  */
.footer_items {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* .one_list ul li {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.2;
    color: #6B7280;
    margin-bottom: 32px;
} */
.one_list ul li {
  list-style-type: none !important;
  color: #6b7280;
  margin-bottom: 32px;
}
.one_list ul li a {
  color: #6b7280;
  text-decoration: none;
}
.socila_icon {
  display: flex;
  align-items: center;
  gap: 24px;
}
.logo_text p {
  font-size: 22px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
  max-width: 58%;
}
.logo_text img {
  margin-bottom: 24px;
}
footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_join_us {
  background-image: url(../images/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
